{% extends "base/main.html" %}



{% block title %} ساخت پست {% endblock %}

{% block content %}

    <form action="/blog/createpost/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} 
        <div class="form-group text-right">
            <label for="title" class="mt-3">عنوان</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="title">
<!--  -->
            <label for="description" class="mt-3">توضیحات</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="description">
<!--  -->
            <label for="image" class="mt-3">عکس</label>
            <input type="file" class="form-control" name="image" id="image" placeholder="image">
<!--  -->
            <button type="submit" class="btn btn-success mt-3">
                ساخت 
            </button>
            
        </div>
    
    </form>

{% endblock %}


